# k8s/job-migrate.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: blog-django-migrate
  namespace: blog
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "1"
spec:
  template:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-postgres
          image: ${REGISTRY_DOMAIN}/blog-django:latest
          # noinspection KubernetesUnknownValues
          imagePullPolicy: ${IMAGE_PULL_POLICY}
          command:
            - python
            - -c
            - |
              import socket, time
              addr = ('blog-postgres', 5432)
              while True:
                try: 
                  socket.create_connection(addr, timeout=2)
                  break
                except: 
                  print('waiting for postgres...')
                  time.sleep(2)
      volumes:
        - name: staticfiles
          emptyDir: { }
      containers:
        - name: blog-django-migrate
          image: ${REGISTRY_DOMAIN}/blog-django:latest
          # noinspection KubernetesUnknownValues
          imagePullPolicy: ${IMAGE_PULL_POLICY}
          command:
            - python
            - manage.py
            - migrate
            - "--noinput"
          envFrom:
            - configMapRef:
                name: blog-config
          env:
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: blog-secrets
                  key: DATABASE_USER
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: blog-secrets
                  key: DATABASE_PASSWORD
  backoffLimit: 4
  ttlSecondsAfterFinished: 3600 # 1h
