# git
.git
.gitignore

# docker
.dockerignore
dockerfile
docker-compose.yml

# python
__pycache__/

# IDE
.vscode/
.idea

# 虚拟环境
.venv/

# 数据库
*.sqlite3

# 数据库备份
backups

# 测试
testapp/
.ssh

# docker镜像导出
django.tar.zst

# 开发环境
.env
.env.example

# github
.github

# model
sentence_transformers_models

# config
.config/