{% load static %}
{% load vite %}
{% load solid_islands %}

<!DOCTYPE html>
<html lang="zh-Hans" class="dark scroll-p-24">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <script type="module" src="{% vite_asset 'web/typescript/core/theme.ts' %}"></script>
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/globals.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>{% block title %}{% endblock %} - {{ SITE_TITLE }}</title>
  {% vite_hmr %}
  {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen scroll-smooth dark:bg-[#1c1b22] dark:text-gray-300">
<header class="fixed top-0 w-full z-50 flex justify-center">
  {% include "web/partials/navbar.html" %}
</header>

<div class="relative flex min-h-screen w-full flex-col items-center">
  <main class="container mx-auto max-w-7xl grow pt-24" hx-boost="true">
    {% block content %}{% endblock %}
  </main>
</div>

{% include "web/partials/footer.html" %}

<script type="module" src="{% vite_asset 'web/typescript/index.tsx' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
